.section {
  display: flex;
  // width: 40rem;
  width: 100%;
}

.time {
  width: 20rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  flex-grow: 1;
  padding: 0.5rem;
  display: flex;
  justify-content: center;

  a {
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;
    color: navy;
  }
}
