.section {
  width: 100%;
  display: flex;
}

.time {
  width: 70%;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  width: 30%;
  padding: 0.5rem;
  display: flex;
  justify-content: center;

  a {
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;
    color: navy;
  }
}
