@use '../../layout.scss';
@use '../../color.scss';

@media (max-width: layout.$screen-small) {
  .lists {
    overflow-x: auto;
  }

  .inner-container {
    width: 30rem;
  }

  .items_list_name {
    width: 30rem;
  }

  .items_list {
    width: 30rem;
  }
}

.lists {
  width: 80%;
}

.inner-container {
  width: 100%;
}

.items_list_name {
  display: flex;
  background-color: color.$light_silver;
  color: black;

  .time {
    width: 70%;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .link {
    width: 30%;
    font-size: 1.2rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
  }
}
