@use '../../layout.scss';

.main {
  width: 100%;
  height: calc(100vh - layout.$header-height - layout.$footer-height);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logout,
.loading {
  @include layout.only-message;
}
