@use '../layout.scss';
@use '../color.scss';

@media (max-width: layout.$screen-small) {
  .footer {
    flex-direction: column;
  }
}

.footer {
  height: layout.$footer-height;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: color.$ghost_white;

  div {
    margin: 0.5rem;
    font-weight: 500;
    color: color.$russian_violet;
  }
}
