@use '../layout.scss';

$height: layout.$header-height;

.header {
  height: $height;
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: blueviolet;
  color: white;
}

.logo {
  margin-right: 1rem;
  display: flex;
  align-items: center;

  a {
    color: darkkhaki;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.25rem;
  }
}

.empty {
  flex-grow: 1;
}
