@use '../layout.scss';
@use '../color.scss';

$height: layout.$header-height;

.header {
  height: $height;
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: color.$russian_violet;
}

.logo {
  margin-right: 1rem;
  display: flex;
  align-items: center;

  a {
    color: color.$ghost_white;
    text-decoration: none;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 900;
  }
}

.empty {
  flex-grow: 1;
}

.login {
  a {
    text-decoration: none;
    color: color.$ghost_white;
    cursor: pointer;
    font-size: 1.2rem;
  }
}

.logout {
  background-color: transparent;
  color: color.$ghost_white;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

// admin인 경우 색 변경
.header.admin {
  background-color: color.$manatee;

  .logo,
  .login {
    a {
      color: color.$russian_violet;
    }
  }

  .logout {
    color: color.$russian_violet;
  }
}
