@use '../layout.scss';
@use '../color.scss';

.main {
  width: 100%;
  height: calc(100vh - layout.$header-height - layout.$footer-height);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.greet {
  font-size: 3rem;
  padding: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.buttons {
  display: flex;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 3.8rem;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
    cursor: pointer;
    color: color.$russian_violet;
    background-color: color.$ghost_white;
    border: 1px solid color.$russian_violet;
    border-radius: 1.9rem;
    margin: 0 0.5rem;

    &:hover {
      background-color: color.$alice_blue;
    }
  }
}

@media (max-width: layout.$screen-medium) {
  .buttons {
    flex-direction: column;
    button {
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }
}

.loading {
  @include layout.only-message;
}
