@use '../../layout.scss';

.main {
  width: 100%;
  min-height: calc(100vh - layout.$header-height - layout.$footer-height);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  width: 85%;
  margin: 3rem 0;
  border: 3px solid black;
  padding: 1.5rem;
}

.search {
  display: flex;
  margin-bottom: 2rem;
  height: 2rem;

  .name,
  .birth,
  .expression,
  .part {
    display: flex;
    flex-grow: 1;

    label {
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
      margin-right: 0.5rem;
    }

    input,
    select {
      flex-grow: 1;
      border-radius: 0;
      border: 1px solid black;
      padding-left: 0.3rem;
    }
  }

  .name,
  .birth,
  .expression {
    margin-right: 1rem;
  }
}

.submit {
  display: flex;
  justify-content: center;

  input[type='submit'] {
    width: 4rem;
    height: 2rem;
    background-color: beige;
    border: none;
    cursor: pointer;
  }
}

@media (max-width: layout.$screen-big) {
  .search {
    display: block;
    height: auto;
  }

  .name,
  .birth,
  .expression,
  .part {
    margin-right: 1rem;
    margin-bottom: 1rem;
    height: 2rem;
  }
}

.charts {
  width: 85%;
  margin-bottom: 3rem;
}

@media (max-width: layout.$screen-tiny) {
  .chart {
    overflow-x: scroll;
    overflow-y: hidden;
  }
}
