@use '../../layout.scss';

.main {
  @include layout.main-class;
}

.form {
  width: 85%;
  margin: 3rem 0;
  border: 3px solid black;
  padding: 1.5rem;
}

.search {
  display: flex;
  margin-bottom: 2rem;
  height: 2rem;

  .expression,
  .part {
    display: flex;
    flex-grow: 1;

    label {
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
      margin-right: 0.5rem;
    }
    select {
      flex-grow: 1;
      border-radius: 0;
      border: 1px solid black;
      padding-left: 0.3rem;
    }
  }

  .expression {
    margin-right: 1rem;
  }
}

@media (max-width: layout.$screen-small) {
  .search {
    display: block;
    height: auto;
  }

  .expression,
  .part {
    height: 2rem;
    display: flex;
    flex-grow: 1;
    margin-right: 1rem;
    margin-bottom: 1rem;

    label {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3rem;
    }

    select {
      flex-grow: 1;
      border-radius: 0;
      border: 1px solid black;
    }
  }
}

.submit {
  display: flex;
  justify-content: center;

  input[type='submit'] {
    width: 4rem;
    height: 2rem;
    background-color: beige;
    border: none;
    cursor: pointer;
  }
}

.charts {
  width: 85%;
  margin-bottom: 3rem;
}

@media (max-width: layout.$screen-tiny) {
  .chart {
    overflow-x: scroll;
    overflow-y: hidden;
  }
}
