@use '../../layout.scss';

.main {
  width: 100%;
  height: calc(100vh - layout.$header-height - layout.$footer-height);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  width: 50rem;
}

.customer {
  display: flex;
  margin-bottom: 1rem;
  height: 2rem;

  label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
  }

  input {
    flex-grow: 1;
  }

  input:first-of-type {
    margin-right: 1rem;
  }

  .name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
    font-size: 0.8rem;
  }
}

.date {
  display: flex;
  margin-bottom: 1rem;
  height: 2rem;

  label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
  }

  input {
    flex-grow: 1;
  }

  .tilde {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
  }
}

.field {
  display: flex;
  height: 2rem;
  margin-bottom: 1rem;

  label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
  }

  select {
    margin-right: 0.5rem;
  }

  input[type='text'] {
    flex-grow: 1;
  }
  .tilde {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
  }
}

.submit {
  display: flex;
  justify-content: center;

  input[type='submit'] {
    width: 4rem;
    height: 2rem;
    background-color: beige;
    border: none;
    cursor: pointer;
  }
}

.explanation {
  padding: 0.5rem;
  margin-bottom: 0.5rem;

  h3 {
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  p {
    margin-bottom: 0.2rem;
  }
}

.logout,
.loading {
  @include layout.only-message;
}
