.section {
  display: flex;
}

.customer_name {
  width: 15%;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customer_birth {
  width: 25%;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time {
  width: 40%;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  width: 20%;
  padding: 0.5rem;
  display: flex;
  justify-content: center;

  a {
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;
    color: black;
  }
}
