@use '../../layout.scss';
@use '../../color.scss';

.main {
  width: 100%;
  min-height: calc(100vh - layout.$header-height - layout.$footer-height);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

//////////////////////////////////////////
// 검색
//////////////////////////////////////////

.form {
  width: 85%;
  margin: 2rem 0;
  border: 3px solid black;
  padding: 1rem;
}

.customer {
  display: flex;
  margin-bottom: 1rem;
  height: 2rem;

  label {
    display: flex;
    align-items: center;
    width: 3rem;
    font-weight: 600;
    font-size: 1rem;
  }

  .name,
  .birth {
    display: flex;
    flex-grow: 1;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 0.5rem;
    }

    input {
      flex-grow: 1;
      border-radius: 0;
      border: 1px solid black;
      padding-left: 0.3rem;
    }
  }

  .name {
    input {
      margin-right: 1rem;
    }
  }
}

.date {
  display: flex;
  margin-bottom: 1rem;
  height: 2rem;

  label {
    display: flex;
    align-items: center;
    width: 3rem;
    font-weight: 600;
  }

  .inputs {
    flex-grow: 1;
    display: flex;

    input {
      flex-grow: 1;
      border-radius: 0;
      border: 1px solid black;
      padding-left: 0.3rem;
    }

    .tilde {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1rem;
    }
  }
}

.field {
  display: flex;
  height: 2rem;
  margin-bottom: 1rem;

  label {
    display: flex;
    align-items: center;
    min-width: 3rem;
    font-weight: 600;
  }

  .selects {
    display: flex;

    select {
      margin-right: 0.5rem;
      border-radius: 0;
      border: 1px solid black;
      padding-left: 0.3rem;
    }
  }

  .figures {
    flex-grow: 1;
    display: flex;

    input[type='text'] {
      flex-grow: 1;
      width: 45%;
      min-width: 45%;
      border-radius: 0;
      border: 1px solid black;
      padding-left: 0.3rem;
    }

    .tilde {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1rem;
    }
  }
}

.submit {
  display: flex;
  justify-content: center;

  input[type='submit'] {
    width: 4rem;
    height: 2rem;
    background-color: color.$light_silver;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: color.$manatee;
    }
  }
}

.explanation {
  margin-bottom: 0.5rem;

  h3 {
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  p {
    margin-bottom: 0.2rem;
  }
}

@media (max-width: layout.$screen-medium) {
  .customer {
    display: block;
    height: auto;

    label {
      font-weight: 800;
      font-size: 1.2rem;
      height: 2rem;
      margin-bottom: 0.5rem;
    }

    .name,
    .birth {
      height: 2rem;
      margin-bottom: 0.5rem;

      input {
        margin-right: 0;
      }
    }
  }

  .date {
    display: block;
    margin-bottom: 1rem;
    height: auto;

    label {
      font-weight: 800;
      font-size: 1.2rem;
      height: 2rem;
      margin-bottom: 0.5rem;
    }

    input {
      display: block;
      flex-grow: 1;
      border-radius: 0;
      border: 1px solid black;
      height: 2rem;
    }

    .tilde {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1rem;
      height: 2rem;
    }
  }

  .field {
    display: block;
    margin-bottom: 1rem;
    height: auto;

    label {
      display: block;
      font-weight: 800;
      font-size: 1.2rem;
      height: 2rem;
      margin-bottom: 0.5rem;
    }

    .selects {
      display: flex;
      margin-bottom: 0.5rem;

      select {
        margin-right: 0.5rem;
        border-radius: 0;
        border: 1px solid black;
        height: 2rem;
        flex-grow: 1;
      }

      .move {
        margin-right: 0;
      }
    }

    .figures {
      flex-grow: 1;
      display: flex;

      input[type='text'] {
        flex-grow: 1;
        border-radius: 0;
        border: 1px solid black;
        height: 2rem;
      }

      .tilde {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1rem;
      }
    }
  }
}

@media (max-width: layout.$screen-small) {
  .field {
    .selects {
      flex-direction: column;

      select {
        margin-right: 0;
        margin-bottom: 0.5rem;
      }

      .move {
        margin-bottom: 0;
      }
    }
  }
}

//////////////////////////////////////////
// 목록
//////////////////////////////////////////

.lists {
  width: 85%;
}

.inner-container {
  width: 100%;
}

.items_list_name {
  display: flex;
  background-color: color.$light_silver;
  color: black;

  .name {
    width: 15%;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .birth {
    width: 25%;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .time {
    width: 40%;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .link {
    width: 20%;
    font-size: 1.2rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: layout.$screen-medium) {
  .lists {
    overflow-x: auto;
  }

  .inner-container {
    width: 45rem;
  }

  .items_list_name {
    width: 45rem;
  }

  .items_list {
    width: 45rem;
  }
}
