.container {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}

.pagination {
  display: flex;
}
.page-item {
  margin-right: 1rem;
  padding: 1rem;
  list-style: none;
  font-size: 1.25rem;
}

.page-link {
  cursor: pointer;
}

.active {
  color: red;
}
