@use '../../color.scss';

.section {
  width: 80%;
  max-width: 23rem;
  margin-top: 1rem;
}

.label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.input {
  display: block;
  width: 100%;
  height: 2.5rem;
  margin-bottom: 1rem;
  border-radius: 0;
  border: 1px solid black;
  padding: 0 0.5rem;
}

.buttons {
  margin: 2rem 0;
  display: flex;
  justify-content: center;

  button {
    width: 100%;
    cursor: pointer;
    border: none;
    height: 3rem;
    font-size: 1.2rem;
  }
}

.log-in {
  background-color: color.$alice_blue;
  color: color.$russian_violet;
  &:hover {
    background-color: color.$light_silver;
  }
}
